
@import url('https://fonts.googloppins&display=swap'eapis.com/css2?family=P);
<style>   
    * {   
        box-sizing: border-box;   
    }     
      
    .column {   
                         
        float: left;   
                        
        width: 25%;   
             
        padding: 4px;   
    }   
          
    .row {   
                  
        margin: 3px;  
    }    
      
    
    .block {   
        padding: 10px;   
        text-align: center;   
        background-color: green;   
        color: white;   
        }   
      
           
    .block:hover {   
        transform: scale(1.1);   
        background-color: brown;   
        transition-duration: 2s;   
        color: white;   
    }   
          
    .fa {   
        font-size: 50px;   
    }   
</style>   
